*.xml linguist-vendored
*.g.dart linguist-generated
*.pb.dart linguist-generated
*.g.dart linguist-generated
*.freezed.dart linguist-generated
*.pb.dart linguist-generated
*.mocks.dart linguist-generated
android/** linguist-vendored
ios/** linguist-vendored